@model ResultMessage
    <div class="row col-md-12">


        <div class="alert alert-@Model.Css ">
            <h4 class="alert-titlr">@Model.Baslık</h4>
            <p>@Model.Message</p>
        </div>
    </div>