<div class="card">
    <div class="card-header">
        <h5>Ara</h5>
    </div>
    <div class="card-body">
        <form action="/Search" class="form-inline">
            <div class="form-group">
                <input name="q" type="text" class="form-control mr-2" placeholder="Kelimeyi giriniz" />
            
            </div>
            
            <button type="submit" class="btn btn-outline-light mr-0">ARA</button>
        </form>
    </div>
</div>
